#page-create-event {
  width: 100%;
  max-width: 1100px;

  margin: 0 auto;
}

#page-create-event header {
  margin-top: 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-create-event header a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;

  display: flex;
  align-items: center;
}

#page-create-event header a svg {
  margin-right: 16px;
  color: var(--primary-color);
}

#page-create-event form {
  margin: 80px auto;
  padding: 64px;
  max-width: 730px;
  background: #FFF;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

#page-create-event form h1 {
  font-size: 36px;
}

#page-create-event form fieldset {
  margin-top: 64px;
  min-inline-size: auto;
  border: 0;
}

#page-create-event form legend {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

#page-create-event form legend h2 {
  font-size: 24px;
}

#page-create-event form legend span {
  font-size: 14px;
  font-weight: normal;
  color: var(--text-color);
}

#page-create-event form .field-group {
  flex: 1;
  display: flex;
}

#page-create-event form .field {
  flex: 1;

  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

#page-create-event form .field label {
  color: #000
}

#page-create-event form .field input[type=text],
#page-create-event form .field input[type=time],
#page-create-event form .field input[type=date] {
  flex: 1;
  background: #F0F0F5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6C6C80;
}

#page-create-event form .field select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex: 1;
  background: #F0F0F5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6C6C80;
}

#page-create-event form .field input::placeholder {
  color: #A0A0B2;
}

#page-create-event form .field label {
  font-size: 14px;
  margin-bottom: 8px;
}

#page-create-event form .field :disabled {
  cursor: not-allowed;
}

#page-create-event form .field-group .field + .field {
  margin-left: 24px;
}

#page-create-event form .field-group input + input {
  margin-left: 24px;
}

#page-create-event form .field-check {
  flex-direction: row;
  align-items: center;
}

#page-create-event form .field-check input[type=checkbox] {
  background: #F0F0F5;
}

#page-create-event form .field-check label {
  margin: 0 0 0 8px;
}

#page-create-event form button {
  width: 260px;
  height: 56px;
  background: #04afc5;
  border-radius: 8px;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  align-self: flex-end;
  margin-top: 40px;
  transition: background-color 0.2s;
  cursor: pointer;
}

#page-create-event form button:hover {
  background: #24bff5;
  transition: background-color 0.2s;
}