#page-update-event {
  width: 100%;
  max-width: 1100px;

  margin: 0 auto;
}

#page-update-event header {
  margin-top: 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-update-event header a {
  color: var(--title-color);
  font-weight: bold;
  text-decoration: none;

  display: flex;
  align-items: center;
}

#page-update-event header a svg {
  margin-right: 16px;
  color: var(--primary-color);
}

#page-update-event form {
  margin: 80px auto;
  padding: 64px;
  max-width: 730px;
  background: #FFF;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

#page-update-event form h1 {
  font-size: 36px;
}

#page-update-event form fieldset {
  margin-top: 64px;
  min-inline-size: auto;
  border: 0;
}

#page-update-event form legend {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

#page-update-event form legend h2 {
  font-size: 24px;
}

#page-update-event form legend span {
  font-size: 14px;
  font-weight: normal;
  color: var(--text-color);
}

#page-update-event form .field-group {
  flex: 1;
  display: flex;
}

#page-update-event form .field {
  flex: 1;

  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

#page-update-event form .field input[type=text],
#page-update-event form .field input[type=email],
#page-update-event form .field input[type=number] {
  flex: 1;
  background: #F0F0F5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6C6C80;
}

#page-update-event form .field select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex: 1;
  background: #F0F0F5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6C6C80;
}

#page-update-event form .field input::placeholder {
  color: #A0A0B2;
}

#page-update-event form .field label {
  font-size: 14px;
  margin-bottom: 8px;
}

#page-update-event form .field :disabled {
  cursor: not-allowed;
}

#page-update-event form .field-group .field + .field {
  margin-left: 24px;
}

#page-update-event form .field-group input + input {
  margin-left: 24px;
}

#page-update-event form .field-check {
  flex-direction: row;
  align-items: center;
}

#page-update-event form .field-check input[type=checkbox] {
  background: #F0F0F5;
}

#page-update-event form .field-check label {
  margin: 0 0 0 8px;
}

#page-update-event form button {
  width: 260px;
  height: 56px;
  background: #04afc5;
  border-radius: 8px;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  align-self: flex-end;
  margin-top: 40px;
  transition: background-color 0.2s;
  cursor: pointer;
}

#page-update-event form button:hover {
  background: #24bff5;
  transition: background-color 0.2s;
}



#page-update-event #ticket-config-button {
  color: #000;
  transition: 0.5s;
}

#page-update-event #ticket-config-button:hover {
  color: #5f5f5f;
  transition: 0.5s
}



#page-update-event #ticket-create-button {
  margin-left: 50px;
  color: #000;
  transition: 0.5s;
}

#page-update-event #ticket-create-button:hover {
  color: #5f5f5f;
  transition: 0.5s
}




#page-update-event .ticket-list {
  margin: 80px auto;
  padding: 64px;
  max-width: 730px;
  background: #FFF;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

#page-update-event .ticket-list h1 {
  font-size: 36px;
}

#page-update-event .ticket-list fieldset {
  margin-top: 64px;
  min-inline-size: auto;
  border: 0;
}

#page-update-event .ticket-list legend {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}


#page-update-event .ticket-list .field-group .field .button-delete {
  align-items: center;
  background-color: #efafaf;
}






/* botão de criar ingresso */
#page-update-event .ticket-list .creation-button-field {
  display: inline-flex;
}

#page-update-event .ticket-list .creation-button-field p {
}

#page-update-event .ticket-list .creation-button-field .react-icons {
  align-self: center;
}











#page-update-event .ticket-list legend h2 {
  font-size: 24px;
}

#page-update-event .ticket-list legend span {
  font-size: 14px;
  font-weight: normal;
  color: var(--text-color);
}

#page-update-event .ticket-list .field-group {
  flex: 1;
  display: flex;
}

#page-update-event .ticket-list .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 50%;
}

#page-update-event .ticket-list .field input[type=text],
#page-update-event .ticket-list .field input[type=email],
#page-update-event .ticket-list .field input[type=number] {
  flex: 1;
  background: #F0F0F5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6C6C80;
}

#page-update-event .ticket-list .field select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex: 1;
  background: #F0F0F5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6C6C80;
}

#page-update-event .ticket-list .field input::placeholder {
  color: #A0A0B2;
}

#page-update-event .ticket-list .field label {
  font-size: 14px;
  margin-bottom: 8px;
}

#page-update-event .ticket-list .field :disabled {
  cursor: not-allowed;
}

#page-update-event .ticket-list .field {
  background-color: #efefef;
  border-radius: 10%;
}

#page-update-event .ticket-list .field strong {
  margin-left: 20px;
  margin-top: 10px
}

#page-update-event .ticket-list .field p {
  margin-left: 20px;
}

#page-update-event .ticket-list .field a {
  margin-left: 10px;
  margin-bottom: 30px;
}

#page-update-event .ticket-list .field-group .field + .field {
  margin-left: 24px;
}

#page-update-event .ticket-list .field-group input + input {
  margin-left: 24px;
}

#page-update-event .ticket-list .field-check {
  flex-direction: row;
  align-items: center;
}

#page-update-event .ticket-list .field-check input[type=checkbox] {
  background: #F0F0F5;
}

#page-update-event .ticket-list .field-check label {
  margin: 0 0 0 8px;
}
